<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connSql" connectionString="server=.;database=Frame;uid=txx1557;pwd=123;Max Pool Size=5" providerName="System.Data.SqlClien"/>
	</connectionStrings>
</configuration>